header {
  top: 0px;
}  

header div {
  --mdc-ripple-fg-size: 28px;
  --mdc-ripple-fg-scale: 1.71429;
  --mdc-ripple-left: 10px; 
  --mdc-ripple-top: 10px;
}

header section svg {
  margin: 16px 12px 12px 12px;
}
